*{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body{
    background-color: white;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}

button:hover{
    background-color: gray;
}