body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    width: 7in;
    height: 4in;          
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgb(116, 104, 89);
    box-shadow: 0 8px 20px gray;
}

.top {
    flex: 1;
    display: flex;
     height: 80%;
}

.photo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(116, 104, 89);     
}


.initials {
    font-size: 90px;
    font-weight: bold;
    color: gold;
    padding: 25px 40px;
    border-radius: 12px;
}


.info {
    flex: 1;
    padding: 30px;
    color: gold;
}


.info h1 {
    font-size: 30px;
    margin-bottom: 12px; 
}

.info h3 {
    font-size: 15px;
    margin-bottom: 0;
}

.university {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}

.info hr {
    border: 3px solid gold;
    width: 70%;
    margin: 15px 0;
}


.bottom {
    height: 20%;
    background: gold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 50px;
    color: black;
    position: relative;
}


.scan p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    position: relative;
    top: -5px; 
    right: -65px;
}


.qr {
    width: 110px;
    height: 110px;
    border: 7px solid green;
    border-radius: 18px;
    position: relative;
    top: -45px;
    right: -40px;
    background: white;
}


a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
}

@media print {
  body {
    background: white;
  }
}